<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">      

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-sm-4"></div>
                    <div class="col-xs-3 col-sm-8">
                       <%= render 'common/profile_pic' %>
                        <div class="margin_l-3">                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6> 
                        </div>
                    </div>                   
                </div>

                <div class="col-sm-9 pad_rl2 pad_t_res">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/profile.png" alt=""></i>
                        <p class="para_link_last"> &nbsp; Profile</p>
                    </div>
                    <div class="col-sm-12 col-sm-12 pad_top ">
                      
                    <%= form_tag update_profile_path, :multipart => true, class: "form-horizontal"  do  %>
              <div class="well">
                  <div class="row ">
                      <div class="col-sm-9">
                      <div class="form-group">                
                          <label class="control-label col-sm-4">First Name</label>
                          <div class="col-sm-8">
                          <%= text_field_tag :first_name, current_user.first_name,  type:"text", tabindex: "1", class: "form-control",  placeholder: 'Enter The First Name', autofocus: true,  required: true %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-sm-4">Last Name</label>
                          <div class="col-sm-8">
                          <%= text_field_tag :last_name, current_user.last_name,   type:"text", tabindex: "2", class: "form-control",  placeholder: 'Enter The Last Name' %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-sm-4">Email</label>
                          <div class="col-sm-8">
                          <%= text_field_tag :email,  current_user.email,  type:"email", tabindex: "3", class: "form-control",  placeholder: 'Enter The Email Address',  required: true %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-sm-4">Password</label>
                          <div class="col-sm-8">
                          <%= text_field_tag :password,  nil, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Create a Password',  required: true %>
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-sm-4">Retype Password</label>
                          <div class="col-sm-8">                  
                          <%= text_field_tag :password_confirmation,  nil, type:"text", tabindex: "5", class: "form-control",  placeholder: 'Retype Password',  required: true %>
                          </div>
                      </div>
                      </div>

                      <div class="col-sm-3">
                          <div class="form-group">
                              <label class="control-label col-sm-12"><%= render 'common/profile_pic' %></label>
                              <div class="col-sm-12">                                  
                                  <div>
                                     <%= file_field_tag :avatar , class: "form-control",tabindex:"6" %>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

                    <div class="row">
                        <div class="actions"> 
                            <div class="col-xs-6 col-sm-4">
                              <%= submit_tag 'Submit', :class => 'btn btn-warning btn-block', tabindex: "7" %>
                            </div>

                            <div class="col-xs-6 col-sm-4">
                              <%= link_to 'Cancel', profile_path, :class => 'btn btn-warning btn-block', tabindex: "8" %>
                            </div>                 
                            
                        </div>
                    </div>

                    <% end %>                       
                    </div>                    

                </div>

                <div class="col-sm-12 pad_top2 hidden-sm">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>
                <div class="col-sm-12 pad_t_p5 hidden-xs hidden-md hidden-lg">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-1"></div>
</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>
