<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

<div class="col-sm-12">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="col-sm-12">
			<div class="row bg_white pad_top2 radius">		

				<div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-sm-4"></div>
                    <div class="col-xs-3 col-sm-8">
					   <%= render 'common/profile_pic' %>
                       <div class="margin_l-3">                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6> 
                        </div>
                    </div>
                    
                    
				</div>

				<div class="col-sm-9 pad_rl2 pad_t_res">
					<div class ="row pad_left radius bg_silver">
						<i style="float: left;"><img class="img-responsive" src="/assets/home.png" alt=""></i>
                        <p class="para_link_last"> &nbsp; Home</p>
					</div>

                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="text_orange"><span>Welcome, <%= current_user.first_name %></span></h3>
                        </div>
                    </div>
                                      
                    <% if @projects.exists? %>
                    <div class="row">
                        <div class="col-sm-12">
                           <!-- <h5><span> Here are Your All Projects</span></h5> -->
                           

                            <div id="table_scroll_index">
                            <table class = "table table-hover table-condensed table_bot">
                                <thead class="table_head">
                                    <tr>
                                        <th>Project name</th>
                                        <th id="table_wi_al_index">Estimated Completion Date</th>
                                        <th id="table_wi_al_index">Site Progress</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% @projects.each do |proj| %>
                                    <tr>
                                        <td><%= link_to "#{proj.name}", project_path(proj.id) %></td>
                                        <td id="table_wi_al_index"><%= proj.estimated_end_date.to_date() %></td>
                                        <td>
                                            <div class="progress" id="progress_bar">
                                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= proj.progress %>%;">
                                                <%= proj.progress %>
                                              </div>
                                            </div>
                                        </td>
                                        <td><%= link_to(image_tag("view.png"), project_path(proj.id)) %></td>
                                    </tr>
                                <% end %>
                                </tbody>
                            </table>
                            </div>

                        </div>
                    </div>

                    <% else %>

                    <div class="row">
                        <div class="col-sm-12 align_center">
                                                    
                           <% if current_user.role == 'Manager' %>
                           <h5><span> You do not have any Project. </span></h5>  
                               <span>Click on the link to </span><a href="/projects/new">Create New Project</a>
                            <% elsif current_user.role == 'admin' %>                            
                           <h5><span><a href="/dashboards">Here Are Your User's List</a></span></h5> 
                               <span>Click on the link to </span><a href="/dashboards/new_user">Create New User</a>
                               <% else %>
                               <h5><span> You do not have any Project. </span></h5>
                            <% end %>
                       </div>
                   </div>

                    <% end %>





				</div>

				<div class="col-sm-12 pad_top2">
					<div class="row bg_black bottom_radius">
						<p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
					</div>

				</div>

			</div>
		</div>

	</div>
	<div class="col-sm-1"></div>
</div>

      

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    
</body>

</html>
