<% if current_user.role == 'Manager' %> 
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">      

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-sm-4"></div>
                    <div class="col-xs-3 col-sm-8">
                       <%= render 'common/profile_pic' %>
                        <div class="margin_l-3">
                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6> 
                        </div>
                    </div>
                    
                </div>

                <div class="col-sm-9 pad_rl2 pad_t_res">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/project.png" alt=""></i>
                        <p class="para_link"> &nbsp; Projects > <span class="para_link_last">Add Project</span></p>
                    </div>
                    <div class="row pad_top">                        
                       
                        <%= form_for(@project) do |f| %>
						  <% if @project.errors.any? %>
						    <div id="error_explanation">
						      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

						      <ul>
						      <% @project.errors.full_messages.each do |msg| %>
						        <li><%= msg %></li>
						      <% end %>
						      </ul>
						    </div>
						  <% end %>

                    <div class="col-sm-12 col-md-12 ">                        
                        <div class="form-group"> 
                        <div class="row">               
                            <label class="control-label col-sm-4 col-md-3">Project Name</label>
                            <div class="col-sm-6 col-md-5">
                                <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", pattern: "[!-~ ]{1,30}",  placeholder: 'Enter The Project Name', title: 'Should be 30 character max' , autofocus: true, required: true %>
                            </div>
                        </div>
                        </div>

                        <div class="form-group"> 
                        <div class="row">               
                            <label class="control-label col-sm-4 col-md-3">Start Date</label>
                            <div class="col-sm-6 col-md-5">
                                <%= f.date_field :start_date, tabindex: "2", class: "form-control",  title: 'Enter Start Date',  required: true %>
                            </div>
                        </div>
                        </div>

                        <div class="form-group"> 
                        <div class="row">               
                            <label class="control-label col-sm-4 col-md-3">Estimated End Date</label>
                            <div class="col-sm-6 col-md-5">
                                <%= f.date_field :estimated_end_date , tabindex: "3", class: "form-control",  title: 'Enter The Estimated End Date',  required: true %>
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                        <div class="row">                
                            <label class="control-label col-sm-4 col-md-3">Site Progress</label>
                            <div class="col-sm-6 col-md-5">                                
                            <%= f.select :progress, [['0%'], ['10%'], ['20%'], ['30%'], ['40%'], ['50%'], ['60%'],['70%'], ['80%'], ['90%'], ['100%']], {}, tabindex: "4", class: "form-control" %>                                
                            </div>
                        </div>
                        </div>

						    <%= f.hidden_field :manager_id, value: current_user.id %>
						  <br>
                        <div class="row">
                            <div class="actions">
                                <div class="col-xs-6 col-sm-5 col-md-4">
                                        <%= f.submit 'Submit', :class => 'btn btn-warning btn-block',tabindex: "5" %>
                                </div> 
                                <div class="col-xs-6 col-sm-5 col-md-4">                                        
                                    <%= link_to 'Cancel', dashboards_path, :class => 'btn btn-warning btn-block', tabindex: "4" %>
                                </div>
                            </div>
                        </div>
                    
				</div> 		  
						<% end %>
                
                    </div>                    

                </div>

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-1"></div>
</div>



    

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>

<% end %>



