<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">
                <div class="col-sm-12 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/profile.png" alt=""></i>
                        <p class="para_link_last"> &nbsp;  Log In Here</p>
                    </div>

                    <div class="row pad_top">                               
                                <hr>
                        <div class="col-sm-12 col-md-12"> 
                            <div class="col-sm-8 col-md-8 well well-lg">                          
        					                        
        					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        					    <div class="row form-group"> 
                                    <label class="control-label col-sm-3 col-md-2">
                                        <%= f.label :email %>
                                    </label>
                                    <div class="col-sm-8 col-md-8 ">
            					        <%= f.email_field :email,class: "form-control", autofocus: true %>
                                    </div>
                                </div>

        					    <div class="row form-group">
                                    <label class="control-label col-sm-3 col-md-2">
                                        <%= f.label :password %>
                                    </label>
                                    <div class="col-sm-8 col-md-8">
            					       <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
                                    </div>
                                </div>

                                <div class="row form-group">
                					   <% if devise_mapping.rememberable? -%>
                                    <div class="col-sm-3 col-md-2"></div>
                					<div class="col-sm-8 col-md-8">
                                        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                                    </div>
                					   <% end -%>
                                </div>

        					    <div class="row form-group">
                                    <div class="col-sm-3 col-md-2"></div>
                                    <div class="col-sm-8 col-md-8">
                                        <%= f.submit "Log in",  :class => 'btn btn-warning' %>
                                    </div>
                                </div>
        					<% end %>
                                <div class="row form-group">
                                    <div class="col-sm-3 col-md-2"></div>
                                    <div class="col-sm-8 col-md-8">
        					<%= render "devise/shared/links" %>
                                    </div>
                                </div>
                                
                            </div>         					                  
                        </div>
                    </div>                    

                </div>
               

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-1"></div>
</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>









