<!DOCTYPE html>
<html lang="en">
<head></head>

<body>
    
<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <% if current_user.role == "admin" %> 
    <div class="col-sm-10">        
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                       <%= render 'common/profile_pic' %>
                        <div class="caption font_style1 pull-right">                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6>
                        </div>
                    </div>                    
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/profile.png" alt=""></i>
                        <p class="para_link_last"> &nbsp; Dashboard</p>
                    </div>
                    <div class="row pad_top">
                        <div class="row">
                            <div class="col-sm-12">                        
                                <div class="col-sm-2">
                                    <div class="row">
                                        <p>Admin</p>
                                    </div>
                                </div>
                                
                                <div class="col-sm-3">                                                           
                                    <a href="/dashboards/new_user"><button type="button" class="btn btn-warning">Create New User</button></a>
                                </div>
                                 
                                <div class="col-sm-3">
                                                                        
                                </div>
                                <div class="col-sm-4"></div>
                                
                            </div>
                       </div> 


                        
                    <div id="table_scroll_dash_index">           
					<table class = "table table-hover table-condensed table_bot">
						<thead class="table_head">
							<tr>
								<th>User name</th>
								<th>Email</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						<% @users.each do |user| %>
							<tr>
								<td><%= user.first_name %></td>
								<td><%= user.email %></td>
								<td><%= link_to 'Edit', edit_user_dashboards_path(:id=>user.id) %></td>
								<td><%= link_to 'Delete', delete_user_dashboards_path(:id=>user.id), method: :put, data: { confirm: 'Are you sure?' } %></td>
							</tr>
						<% end %>
						</tbody>
					</table>
                    </div>
					   
                    </div> 
                </div>

            
                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <% end %>

    <% if current_user.role == "Manager" %> 
    <div class="col-sm-10"> 
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">               

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                       <%= render 'common/profile_pic' %>
                        <div class="caption font_style1 pull-right">                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6>
                        </div>
                    </div>                    
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/profile.png" alt=""></i>
                        <p class="para_link_last"> &nbsp; Dashboard</p>
                    </div>
                    <div class="row pad_top">

                        <div class="row">
                            <div class="col-sm-12">                        
                                <div class="col-sm-2">
                                    <div class="row">
                                        <p>Manager</p>
                                    </div>
                                </div>
                                
                                <div class="col-sm-3"></div>                                
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4">
                                    <% if current_user.role == 'Manager' %>
                                       <%= link_to(image_tag("add_project.png"), new_project_path) %>
                                    <% end %>
                                </div>
                                
                            </div>
                       </div>


                    <% if @projects != [] %> 
                    <div id="table_scroll_dash_index">                          
					<table class = "table table-hover table-condensed table_bot">
						<thead class="table_head">
							<tr>
								<th>Project Name</th>
								<th>Start Date</th>
								<th>End Date</th>
							</tr>
						</thead>                   
                        
                        <tbody >                            						
						<% @projects.each do |project| %>
							<tr>
								<td><%= link_to "#{project.name}", project_path(project.id) %></td>
								<td><%= project.start_date.to_date() %></td>
								<td><%= project.estimated_end_date.to_date() %></td>
							</tr>
						<% end %>                    
						</tbody>
                        
					</table>
                </div>
                    <% end %>
					
                    </div>
                </div>

                 <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>             

            </div>
        </div>
    </div>
    <% end %>


     <% if current_user.role == "Customer" %> 
    <div class="col-sm-10"> 
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">               

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                       <%= render 'common/profile_pic' %>
                        <div class="caption font_style1 pull-right">
                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6>
                        </div>
                    </div>                    
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/profile.png" alt=""></i>
                        <p class="para_link_last"> &nbsp; Dashboard</p>
                    </div>
                    <div class="row pad_top">
                        <p>Customer</p>
                         
                    <% if @projects != [] %> 
                    <div id="table_scroll_dash_index">                         
                    <table class = "table table-hover table-condensed table_bot">
                        <thead class="table_head">
                            <tr>
                                <th>Project Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @projects.each do |project| %>
                            <tr>
                                <td><%= link_to "#{project.name}", project_path(project.id) %></td>
                                <td><%= project.start_date %></td>
                                <td><%= project.estimated_end_date %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
                    <% end %>
                    <% if current_user.role == 'Manager' %>
                       <a href="/projects/new">Create New Project</a>
                    <% end %>
                    </div>
                </div>

                 <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>             

            </div>
        </div>
    </div>
    <% end %>


    <div class="col-sm-1"></div>
</div>


    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>



