<% if current_user.role == 'manager' %> 
<!DOCTYPE html>
<html lang="en">

<head></head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">      

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                        <div class="col-sm-4"></div>
                        <div class="col-xs-3 col-sm-8">
                           <%= render 'common/profile_pic' %>
                            <div class="margin_l-3">                            
                                <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6> <br> 
                            </div>
                        </div>                    
                </div>

                <div class="col-sm-9 pad_rl2 pad_t_res">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/project.png" alt=""></i> 
                        <p class="para_link">&nbsp; Projects > <%= @project.name %> > <span class="para_link_last">Assign Users</span> </p>
                    </div>
                <div class="row pad_top">
                                        
                         
                    <div class="col-sm-12 col-md-12 ">
                        <%= form_tag assign_users_dashboards_path, class: "form-horizontal" do  %>
                        <%= hidden_field_tag :id , @project.id %>

                        <div class="form-group">                
                              <label class="control-label col-sm-4 col-md-3">Project Name</label>
                              <div class="col-sm-8 col-md-8">
                                <div class="form-control"><%= @project.name %></div>                              
                              </div>
                        </div>                    

                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-3">Customers</label>
                            <div class="col-sm-8 col-md-8" id="table_scroll_list">
                        	<% @customers.each do |c| %>							
							    <div class="checkbox form-control">								
    							    <label>
    							       <%= check_box_tag("user_ids[]", c.id, @project.users.include?(c)) %> <%= c.first_name %>
    							    </label>
							    </div>
							<% end %>                        
                            </div>
                        </div>                                   
                      
                        <div class="row">
                            <div class="actions">
                                <div class="col-sm-4 col-md-3"></div>
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    <%= submit_tag 'Submit', :class => 'btn btn-warning btn-block', tabindex: "2" %>
                                </div> 
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    <%= link_to 'Cancel', project_path(@project), :class => 'btn btn-warning btn-block', tabindex: "1" %>
                                </div> 
                            </div>
                        </div>

                        <% end %>                       
                    </div>

                </div> </div>
                

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>


    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>
<% end %>

