<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">                

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                       <a class="thumbnail">
                        <img src="/assets/profile_img.jpg" alt="" style="height: 9em; width: 9em;"> </a>
                        <div class="caption font_style1 pull-right">
                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6>
                        </div>
                    </div>                    
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <p style="float: left;"><img class="img-responsive" src="/assets/profile.png" alt=""></p><p> &nbsp; DASHBOARD</p>
                    </div>
                    <div class="row pad_top">
                        <p>Admin > New user</p>
                        <hr>
                  <div class="col-sm-12 col-lg-12 ">
                   
                     <%= form_tag create_new_user_dashboards_path, class: "form-horizontal" do  %>

                      <div class="form-group">                
                        <label class="control-label col-md-2">First Name</label>
                        <div class="col-md-6">
                        <%= text_field_tag :first_name, nil, type:"text", tabindex: "1", class: "form-control", pattern: "[a-zA-Z. ]{1,50}",  placeholder: 'Enter The First Name',  required: true %>
                      </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-2">Last Name</label>
                        <div class="col-md-6">
                        <%= text_field_tag :last_name,  nil, type:"text", tabindex: "2", class: "form-control", pattern: "[a-zA-Z. ]{1,50}",  placeholder: 'Enter The Last Name' %>
                      </div>
                    </div>

                      <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-6">
                        <%= text_field_tag :email,  nil, type:"email", tabindex: "3", class: "form-control",  placeholder: 'Enter The Email Address',  required: true %>
                      </div>
                    </div>

                      <div class="form-group">
                        <label class="control-label col-md-2">Select Role</label>
                        <div class="col-md-6">
                          <div class="form-control">
                        <%= select_tag :role,  options_for_select(["Customer","Manager"] , tabindex: "4" ) %>
                          </div>
                      </div>
                    </div>

                      <div class="form-group">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-6">
                        <%= text_field_tag :password,  nil, type:"text", tabindex: "5", class: "form-control",  placeholder: 'Create a Password',  required: true %>
                      </div>
                    </div>

                      <div class="form-group">
                      <label class="control-label col-md-2">Retype Password</label>
                        <div class="col-md-6">                  
                        <%= text_field_tag :password_confirmation,  nil, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Retype Password',  required: true %>
                      </div>
                    </div>

                      <div class="actions"> 
                          <div class="col-md-4">
                        <a href="/dashboards"> <button type="button" class="btn btn-primary btn-block" tabindex="7">Cancel </button></a>
                          </div>            
                          <div class="col-md-4">
                        <%= submit_tag 'Submit', :class => 'btn btn-primary btn-block', tabindex: "8" %>
                          </div>
                    </div>
                    <% end %>
                       
                  </div>

                    </div>                    

                </div>
               

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-1"></div>
</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>







