<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">                

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                       <%= render 'common/profile_pic' %>
                        <div class="caption font_style1 pull-right">
                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6>
                        </div>
                    </div>
                    
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/profile.png" alt=""></i>
                        <p class="para_link_last"> &nbsp; DASHBOARD</p>
                    </div>
                    <div class="row pad_top">
                        <p>Admin > Show</p>
                        <hr>
                  <div class="col-md-12 col-lg-12 ">

                     <table class = "table">
						<thead>
							<tr>
								<th>User First name</th>
								<th>User Last name</th>
								<th>Email</th>
								<th>Role</th>								
							</tr>
						</thead>
						<tbody>						
							<tr>
								<td><%= @user.first_name %></td>
								<td><%= @user.last_name %></td>
								<td><%= @user.email %></td>
								<td><%= @user.role %></td>
							</tr>						
						</tbody>
					</table>

                    <div class="row col-sm-3">
                        <a href="/dashboards"> <button type="button" class="btn btn-warning btn-block">Back </button></a>
                    </div>
                       
                  </div>
                        
        			

                    </div>                    

                </div>
               

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="col-sm-1"></div>
</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>







