 <!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">      

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                           <%= render 'common/profile_pic' %>
                            <div class="caption font_style1 pull-right">                            
                                <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6> <br> 
                            </div>
                        </div>
                    </div>
                    <div class="row" id="list_tri">
                    	<ul class="nav nav-stacked text-right scroll_site_nav">
			                <li><% @sites_project.each do |site| %>
                            <%= link_to "#{site.name}" ,"/projects/#{@site.project.id}/sites/#{site.id}" %>
                        <% end %>
                            </li>
			            </ul>
                    </div>
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/project.png" alt=""></i>
                        <p class="para_link"> &nbsp; Projects > <%=@site.project.name %> >  <span class="para_link_last"><%= @site.name %></span></p>
                    </div>
                    <div class="row pad_top">
                        
                        <div class="row">
                            <div class="col-sm-12">                        
                                <div class="col-sm-2">
                                    <div class="row">
                                        <p>Reports</p>
                                    </div>
                                </div>
                                <% if current_user.role == 'Manager' %>
                                <div class="col-sm-3">                                                           
                                    <%= link_to "Create a New Report", new_project_site_report_path(@site.project.id,@site.id), :class => 'btn btn-warning', tabindex: "1" %>
                                </div>
                                <div class="col-sm-2"> 
                                <%= link_to 'Edit Site', edit_project_site_path(@site.project.id,@site.id), :class => 'btn btn-warning', tabindex: "2" %>
                                </div>
                                <div class="col-sm-2"> 
                                <%= link_to 'Delete Site', delete_site_project_sites_path(id: @site.id),method: :put, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning', tabindex: "3" %>
                                </div>
                                <% end %> 
                                <div class="col-sm-3">
                                    <%= link_to 'Back To Project', project_path(@site.project.id), :class => 'btn btn-warning btn-block', tabindex: "4" %>                                    
                                </div>
                                                                
                                
                            </div>
                       </div> 
                                                  
                    <% if @reports_tristatus != [] %> 
                    <div id="table_scroll_site">
					<table class = "table table-hover table-condensed table_bot" >
                        <thead class="table_head">
                            <tr>
                                <th>Tri Status</th>
                                <th>Date</th>
                                <th>Summary</th>
                                <th>Efficiency</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    <!-- </table>
                        
                    <table class="table table-hover table-condensed table_bot"> -->
                        <tbody>
                            <% @reports_tristatus.each do |r1| %>            
                           <tr>
                                <td></td>
                                <td><%= r1.created_at.to_date %></td>
                                <td><%= r1.summary %></td>
                                <td><%= r1.effciency %></td>
                                <td><%= link_to(image_tag("view.png"), project_site_report_path(@site.project.id,@site.id,r1.id), tabindex: "5") %></td>
                                <td>
                                    <% if current_user.role == 'Manager' %>
                                        <%= link_to(image_tag("edit.png"), edit_project_site_report_path(@site.project.id,@site.id,r1.id), tabindex: "6") %>
                                    <% end %>
                                </td>
                                <td>
                                    <% if current_user.role == 'Manager' %>
                                        <%= link_to(image_tag("delete.png"), delete_report_project_sites_path(id: r1.id), method: :put, data: { confirm: 'Are you sure?' }, tabindex: "7") %>
                                    <% end %>
                                </td>
                            </tr>
                        
                            <% end %> 

                        </tbody>
                    </table>
                        </div>
                    

                    <% end %>

                    <br>

                    <% if @reports_triharder != [] %>
                    
                     <div id="table_scroll_site">
                        <table class = "table table-hover table-condensed table_bot">
                        <thead class="table_head">
                            <tr>
                                <th>Tri Harder</th>
                                <th>Date</th>
                                <th>Summary</th>
                                <th>Efficiency</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    <!-- </table>
                        <div id="con">
                    <table class="table table-hover table-condensed table_bot"> -->
                        <tbody>
                            <% @reports_triharder.each do |r1| %>            
                            <tr>
                                <td></td>
                                <td><%= r1.created_at.to_date %></td>
                                <td><%= r1.summary %></td>
                                <td><%= r1.effciency %></td>
                                <td><%= link_to(image_tag("view.png"), project_site_report_path(@site.project.id,@site.id,r1.id), tabindex: "8") %></td>
                                <td>
                                    <% if current_user.role == 'Manager' %>
                                        <%= link_to(image_tag("edit.png"), edit_project_site_report_path(@site.project.id,@site.id,r1.id), tabindex: "9") %>
                                    <% end %>
                                </td>
                                <td>
                                    <% if current_user.role == 'Manager' %>
                                        <%= link_to(image_tag("delete.png"), delete_report_project_sites_path(id: r1.id), method: :put, data: { confirm: 'Are you sure?' }, tabindex: "10") %>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>                         
                        </tbody>
                    </table>
                        </div>
                    <% end %>
						 
                    </div> 
                </div>

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>


    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>



