<% if @report.report_type == 'tristatus' %>
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">      

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">
                       <%= render 'common/profile_pic' %>
                        <div class="caption font_style1 pull-right">
                            
                            <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6> <br> 
                        </div>
                    </div>
                    </div>
                    <div class="row" id="list_tri">
                    	<ul class="nav nav-stacked">
			                <li><a href="#tri_s_target" >Target Tasks</a></li>
			                <li><a href="#tri_s_today"  >Today's Photos</a></li>             
			                <li><a href="#tri_s_safety" >Safety Meeting</a></li>
			                <li><a href="#tri_s_tomorrow" >Tomorrow's Target Tasks</a></li>
			                <li><a href="#tri_s_material" >Materials</a></li>
			                 
			            </ul>

                    </div>

                   
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/project.png" alt=""></i>
                        <p class="para_link"> &nbsp; Projects > <%=@report.site.project.name %> > <%= @report.site.name %> > <span class="para_link_last">Tri-Status Report</span></p>
                    </div>

                    <div class="row pad_top">
                        <div class="row">
                            <div class="col-sm-12">                        
                                <div class="col-sm-2">
                                    <div class="row">
                                        <p>Report</p>
                                    </div>
                                </div>                                
                                    <% if current_user.role == 'Manager' %> 
                                <div class="col-sm-2">
                                    <%= link_to "Add a task", new_project_site_report_task_path(@report.site.project.id,@report.site.id,@report.id), :class => 'btn btn-warning', tabindex: "1" %>
                                </div> 
                                                                        
                                    <% end %>
                                <div class="col-sm-2">                   
                                    <%= link_to 'Back to Site', project_site_path(@report.site.project.id,@report.site.id), :class => 'btn btn-warning', tabindex: "3" %>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                       </div>
                            
                    </div> 


                    <div class="row scroll_div">
                        
                        <div id="tri_s_target" >
                            <% if @tasks_today != [] %>
                                <table class = "table table-hover table-condensed">
                                    <thead class="table_head">
                                        <tr>
                                            <th>Target Tasks</th>
                                            <th>Completed Tasks</th>
                                            <th>Efficiency</th>                                
                                        </tr>
                                    </thead>
                                    <tbody> 
                                          <% @tasks_today.each  do |t1| %>           
                                        <tr>
                                            <td><%=  t1.target_task %></td>
                                            <td><%= t1.completed_task %></td>
                                            <td><%= t1.efficiency %></td>
                                        </tr>
                                            <% end %>           
                                    </tbody>
                                </table>                            		 
                            <% end %>        
                        </div>
                                               

                    	<div id="tri_s_today" >
                            <table class = "table table-hover table-condensed ">
                                    <thead class="table_head">
                                        <tr>
                                            <th>Today's Photo</th>     
                                        </tr>
                                    </thead>
                                    <tbody>                                                      
                                        <tr>
                                            <td>                                                
                                                    <% @image_attachement.each do |p| %>
                                                    <div class="col-sm-3">
                                                      <%= image_tag p.image_url(:thumb) %><br>
                                                      <%= link_to 'Download Image' , p.image.url , :target => '_blank' %>
                                                      </div>
                                                    <% end %>                                       
                                            </td>
                                        </tr>                                                       
                                    </tbody>
                            </table>
                    	</div>

                    	<div id="tri_s_safety" >
                            <table class = "table table-hover table-condensed ">
                                    <thead class="table_head">
                                        <tr>
                                            <th>Safety Meeting</th> 
                                            <th></th>    
                                        </tr>
                                    </thead>
                                    <tbody>                                                      
                                        <tr>
                                            <td><%= @report.safety_meeting %></td>
                                            <td><%= link_to 'Download File' , @report.safety_doc.url  %></td>
                                        </tr>                                                       
                                    </tbody>
                            </table>
                    	</div>

                    	
                        <% if @tasks_tomorrow != [] %>
                                <div id="tri_s_tomorrow" >
                                    <table class = "table table-hover table-condensed ">
                                    <thead class="table_head">
                                        <tr>
                                            <th>Target Tasks</th>
                                            <th>Completed Tasks</th>
                                            <th>Efficiency</th>                                
                                        </tr>
                                    </thead>
                                    <tbody> 
                                          <% @tasks_tomorrow.each  do |t1| %>          
                                        <tr>
                                            <td><%= t1.target_task %></td>
                                            <td><%= t1.completed_task %></td>
                                            <td><%= t1.efficiency %></td>
                                        </tr>
                                            <% end %>           
                                    </tbody>
                                </table>                                              
                                </div>
                        <% end %>


                    	<div id="tri_s_material">
                             <table class = "table table-hover table-condensed ">
                                    <thead class="table_head">
                                        <tr>
                                            <th>Materials</th> 
                                            <th></th>    
                                        </tr>
                                    </thead>
                                    <tbody>                                                      
                                        <tr>
                                            <td><%= @report.materials %></td>
                                            <td>
                                                <% if @report.material? %>
                                            <p><%= image_tag @report.material_url(:thumb)  %></p>
                                    <%= link_to 'Download Image' , @report.material.url , :target => '_blank' %>
                                                <% end %>
                                            </td>
                                        </tr>                                                       
                                    </tbody>
                            </table>
                        </div>

                    </div>                   

                </div>

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>


    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>






<% else %>

<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

<div class="col-sm-12">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="row bg_white pad_top2 radius">      

                <div class="col-sm-3 bg_green right_radius pad_top min_height">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                           <%= render 'common/profile_pic' %>
                            <div class="caption font_style1 pull-right">                                
                                <h6 class="caption font_style1 pull-right"><%= current_user.first_name %></h6><br>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="list_tri">
                    	<ul class="nav nav-stacked">
			                <li><a href="#tri_h_place" >Controls in Place</a></li>
			                <li><a href="#tri_h_project"  >Project Start Conditions</a></li>
			                <li><a href="#tri_h_condition" >Today's Conditions</a></li>
			                <li><a href="#tri_h_today" >Today's Photos</a></li>	
			            </ul>
                    </div>                   
                </div>

                <div class="col-sm-9 pad_rl2">
                    <div class ="row pad_left radius bg_silver">
                        <i style="float: left;"><img class="img-responsive" src="/assets/project.png" alt=""></i>
                        <p class="para_link"> &nbsp; Projects > <%=@report.site.project.name %> > <%= @report.site.name %> > <span class="para_link_last">Tri-Harder Report</span></p>
                    </div>
                    <div class="row pad_top">
                        <div class="row">
                            <div class="col-sm-12">                        
                                <div class="col-sm-2">
                                    <div class="row">
                                        <p>Report</p>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <% if current_user.role == 'Manager' %>                          
                                    <%= link_to 'Back to Site', project_site_path(@report.site.project.id,@report.site.id), :class => 'btn btn-warning', tabindex: "1" %>
                                    <% end %> 
                                </div>
                            </div>
                       </div> 
                       
                    </div> 
                    <div class="row scroll_div">

                    	<div id="tri_h_place" >
                            <table class = "table table-hover table-condensed">
                                    <thead class="table_head">
                                    <tr>
                                        <th>Controls in place</th>                                            
                                    </tr>
                                </thead>
                                <tbody>                                                      
                                    <tr>
                                        <td><%= @report.controls_in_place %></td>
                                    </tr>                                                       
                                </tbody>
                            </table>
                    	</div>

                    	<div id="tri_h_project" >
                            <table class = "table table-hover table-condensed">
                                    <thead class="table_head">
                                    <tr>
                                        <th>Project Start Conditions</th>         
                                    </tr>
                                </thead>
                                <tbody>                                                      
                                    <tr>
                                        <td><%= @report.project_start_condition %></td>
                                    </tr>                                                       
                                </tbody>
                            </table>
                    	</div>


                    	<div id="tri_h_condition">
                            <table class = "table table-hover table-condensed">
                                    <thead class="table_head">
                                    <tr>
                                        <th>Today's Conditions</th>
                                    </tr>
                                </thead>
                                <tbody>                                                      
                                    <tr>
                                        <td><%= @report.todays_condition %></td>
                                    </tr>                                                       
                                </tbody>
                            </table>
                    	</div>

                    	<div id="tri_h_today" >
                            <table class = "table table-hover table-condensed">
                                    <thead class="table_head">
                                    <tr>
                                        <th>Today's Photo</th>     
                                    </tr>
                                </thead>
                                <tbody>                                                      
                                    <tr>
                                        <td>
                                            <% @image_attachement.each do |p| %>
                                            <div class="col-sm-3">
                                                  <%= image_tag p.image_url(:thumb) %><br>
                                                  <%= link_to 'Download Image' , p.image.url , :target => '_blank' %>
                                              </div>
                                                <% end %>
                                        </td>
                                    </tr>                                                       
                                </tbody>
                            </table>
                        </div>

                    </div>                   

                </div>

                <div class="col-sm-12 pad_top2">
                    <div class="row bg_black bottom_radius">
                        <p class="font_style1 pad_left"> &copy; | Triton | All Rights Reserved |</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

</html>






<% end %>	